.grid {
    display: grid;
    text-align: center;
    position: relative;
}


input {
    display: inline-block;
    text-align: center;
    width: 40px;
    height: 40px;
    margin: 20px 20px 20px 20px;
}